.advanced-definitions-popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4000;
  background-color: var(--black-60a);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advanced-definitions-popup {
  background-color: var(--theme-background-tint);
  width: var(--layout-panel-width);
  max-width: 90vw;
  height: calc(100dvh - 84px);
  z-index: 4001;
  box-shadow: 0 0 20px var(--black-70a);
  padding: 10px;
  border: 1px solid var(--theme-border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  hr {
    border: none;
    border-top: 1px solid var(--theme-border-color);
    width: 100%;
    margin: 0;
  }

  h4 {
    margin: 5px 0;
    font-size: 1.1em;
  }

  small {
    opacity: 0.7;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 5px;

    h3 {
      margin: 0;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        font-weight: normal;
        opacity: 0.8;
      }
    }
  }

  &__close-button {
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity var(--animation-duration-2x);

    &:hover {
      opacity: 1;
    }
  }

  &__content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px 10px 5px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    &.character-note {
      flex-direction: unset;
    }
    gap: 5px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .slider-hint {
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      opacity: 0.7;
    }
  }

  &__save-button {
    margin: 5px auto;
    width: 100px;
  }

  .token-counter {
    font-size: 0.8em;
    text-align: right;
    opacity: 0.7;
    margin-top: 2px;
  }
}
