.message {
  display: flex;

  &__avatar-wrapper {
    flex-shrink: 0;
    width: var(--avatar-width);
    text-align: center;
  }

  &__avatar {
    width: var(--avatar-width);
    height: var(--avatar-height);
    border-radius: var(--avatar-border-radius-round);
    border: 1px solid var(--theme-border-color);
    box-shadow: 0 0 5px var(--black-50a);
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__id,
  &__timer,
  &__token-count {
    cursor: default;
    opacity: 0.7;
    font-size: calc(var(--font-size-main) * 0.9);
    font-weight: 600;
  }

  &__main {
    flex-grow: 1;
    min-width: 0; // Prevent flexbox overflow
    padding-left: 10px;
    border-radius: 10px;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__name-block {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  &__name {
    font-weight: bold;
  }

  &__timestamp {
    font-size: 0.8em;
    opacity: 0.7;
  }

  &__buttons,
  &__edit-actions {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__buttons {
    .message__button {
      opacity: 0.5;
      cursor: pointer;
      transition: all var(--animation-duration-2x);

      &:hover {
        opacity: 1;
      }

      &.delete:hover {
        color: var(--color-warning);
      }
    }
  }

  &__content {
    font-weight: 500;
    line-height: calc(var(--font-size-main) + 0.5rem);
    max-width: 100%;
    overflow-wrap: anywhere;

    p {
      margin-top: 0;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Text formatting styles
    q:before,
    q:after {
      content: '';
    }

    i,
    em {
      color: var(--theme-emphasis-color);
    }

    u {
      color: var(--theme-underline-color);
      text-decoration-color: var(--theme-underline-color);
    }

    q {
      color: var(--theme-quote-color);
    }

    // Nested overrides
    q i,
    q em {
      color: inherit;
    }

    font[color] em,
    font[color] i,
    font[color] u,
    font[color] q {
      color: inherit;
    }
  }

  &__edit-area {
    display: flex;
    flex-direction: column;
    gap: 5px;

    textarea {
      min-height: 80px;
    }
  }

  &__edit-actions {
    .menu-button {
      opacity: 0.7;
      padding: 3px 5px;
      margin: 0;

      &.confirm {
        background-color: var(--color-accent-green-70a);
      }
      &.cancel {
        background-color: var(--color-accent-crimson-70a);
      }
    }
  }

  // TODO: Styles for reasoning block, once implemented
  &__reasoning {
    i,
    em {
      color: hsl(from var(--theme-emphasis-color) h calc(s * var(--theme-reasoning-saturation-factor)) l);
    }

    u {
      color: hsl(from var(--theme-underline-color) h calc(s * var(--theme-reasoning-saturation-factor)) l);
      text-decoration-color: hsl(
        from var(--theme-underline-color) h calc(s * var(--theme-reasoning-saturation-factor)) l
      );
    }

    q {
      color: hsl(from var(--theme-quote-color) h calc(s * var(--theme-reasoning-saturation-factor)) l);
    }

    // Nested overrides for reasoning
    q i,
    q em {
      color: inherit;
    }

    font[color] em,
    font[color] i,
    font[color] u,
    font[color] q {
      color: inherit;
    }
  }
}
