.menu-button-icon {
  display: block;
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  padding: 1px;
  filter: brightness(75%);
  transition: all var(--animation-duration-3x) ease-in-out;

  &.active,
  &:hover {
    filter: brightness(150%);
  }
}

.name-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 5px;

  &__inner {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    width: 100%;
  }

  &__name {
    flex: 1;
    overflow: hidden;
    opacity: 0.5;
    padding: 1px;
    white-space: nowrap;

    h2 {
      margin: 0;
      font-size: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }

  &__info {
    font-size: calc(var(--font-size-main) * 0.9);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 1px 3px;
    flex-shrink: 0;

    .menu-button {
      padding: 4px; // Override for smaller buttons
    }
  }

  &__token-text {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    text-align: right;
    cursor: default;

    .neutral-warning {
      color: var(--color-warning);
    }
  }
}

.character-panel {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  flex-direction: column;
  width: 100%; // Fill its container

  &__header {
    padding: 5px;
  }

  &__actions {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

    .menu-button {
      width: calc(var(--font-size-main) * 1.7);
      aspect-ratio: 1;
      margin: 0;
      padding: 3px 5px; // Specific override
    }

    .character-sort-order {
      flex: 1;
      border-radius: 5px;
      margin: 0;
      min-width: 75px;
    }

    .character-search-toggle {
      padding-right: 15px;
      font-size: 1.1em;
      margin: 0 2px;
    }
  }

  &__search-form {
    display: none;
    flex-direction: row;
    align-items: stretch;
    column-gap: 5px;

    &.active {
      display: flex;
    }
  }

  .tag-controls {
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
    max-height: 40dvh;
    overflow-y: auto;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px;

    .menu-button {
      padding: 3px 5px; // Specific override
    }
  }

  &__character-list {
    display: flex;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    padding: 1px;
    flex-direction: column;
  }
}

.character-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 1px;
  gap: 10px;

  &:hover {
    background-color: var(--white-20a);
  }

  &__avatar {
    width: var(--avatar-width);
    height: var(--avatar-height);
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: var(--avatar-border-radius-round);
      border: 1px solid var(--theme-border-color);
      box-shadow: 0 0 5px var(--black-50a);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }

  &__header {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 6px;
  }

  &__name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__fav-icon {
    color: var(--color-golden);
    filter: drop-shadow(1px 1px 2px black);
    font-size: 14px;
    flex-shrink: 0;
  }

  &__description {
    font-size: calc(var(--font-size-main) * 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: -5px;
  }
}
