.character-edit-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 0 5px;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
  }

  &__avatar-name-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 10px;
    margin-top: 5px;
  }

  &__avatar-area {
    flex-shrink: 0;
    display: flex;
    height: 100%;
  }

  &__avatar-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__avatar-img {
    width: var(--avatar-width);
    height: var(--avatar-width);
    object-position: center center;
    object-fit: cover;
    border-radius: var(--avatar-border-radius-round);
    border: 1px solid var(--theme-border-color);
    box-shadow: 0 0 5px var(--black-50a);
  }

  &__controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 0; // Prevent flex item from overflowing
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .menu-button {
      padding: 5px;
      aspect-ratio: 1;
      font-size: 1.1em;
      flex-grow: 1;

      &.red_button {
        color: var(--color-warning);

        &:hover {
          background-color: var(--color-accent-crimson-hover);
        }
      }

      &.fav_on {
        color: var(--color-golden);
        filter: drop-shadow(0 0 3px var(--color-golden));
      }
    }
  }

  &__tags-block {
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 5px;
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;

    label {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-weight: bold;
    }

    textarea {
      height: 100%;
      resize: none;
    }
  }
}

.slide-js-enter-active,
.slide-js-leave-active {
  transition:
    height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  overflow: hidden;
}
