.character-panel {
  &-browser-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-border-color);
  }

  &-actions {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

    #extension-buttons-container {
      display: contents;
    }
  }

  &-character-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    border-bottom: 1px solid var(--theme-border-color);
  }

  &-editor {
    height: 100%;
  }
}
