.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: var(--side-bar-width);
  right: 0;
  margin: 0 auto;
  min-width: 100px;
  min-height: 100px;
  width: var(--layout-panel-width);

  &__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - var(--send-form-height));
    background-color: var(--theme-chat-tint);
    padding: 10px;
    gap: 15px;
  }

  &__form-container {
    white-space: nowrap;
    margin: 1px auto 0 auto;
    z-index: 30;
    width: 100%;
  }
}

.chat-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  border: 1px solid var(--theme-border-color);
  border-radius: 0 0 10px 10px;
  width: 100%;
  background-color: var(--theme-background-tint);

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    font-size: var(--font-size-main);
  }

  &__actions-left {
    padding-left: 2px;
    order: 1;
  }

  &__actions-right {
    padding-right: 2px;
    order: 3;
  }

  &__actions-left,
  &__actions-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  &__button {
    width: var(--send-form-height);
    height: var(--send-form-height);
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--animation-duration-2x);
    background: none;
    border: none;
    color: var(--theme-text-color);
    font-size: var(--font-size-main);

    &:hover {
      opacity: 1;
    }
  }

  #chat-input {
    order: 2;
    min-height: calc(var(--send-form-height) + 2px);
    height: calc(var(--send-form-height) + 2px);
    word-wrap: break-word;
    resize: vertical;
    display: block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    flex: 1;
  }
}
