.chat-header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--theme-background-tint);
  border-bottom: 1px solid var(--theme-border-color);
  z-index: 100; // High enough to stay above content
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 1px 3px var(--theme-shadow-color);

  &-group {
    display: flex;
    align-items: center;
    gap: 8px;

    &.left,
    &.right {
      flex-shrink: 0;
    }

    &.center {
      flex-grow: 1;
      justify-content: center;
      overflow: hidden;
      padding: 0 10px;
    }
  }

  &-icon {
    font-size: 1.1em;
    cursor: pointer;
    opacity: 0.7;
    transition:
      opacity var(--animation-duration),
      color var(--animation-duration);
    padding: 6px;
    border-radius: var(--base-border-radius);

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: var(--base-border-radius);
    transition: background-color var(--animation-duration);
    max-width: 100%;

    &:hover {
      background-color: var(--white-20a);
    }

    &-avatar {
      height: 34px;
      width: 34px;
      flex-shrink: 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.2;
      overflow: hidden;
    }

    &-name {
      font-weight: bold;
      font-size: 1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-meta {
      font-size: 0.75em;
      opacity: 0.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 600px) {
  .chat-header-info-name {
    max-width: 150px;
  }
  .chat-header {
    padding: 0 10px;
  }
}
