.extensions-panel {
  &-browser-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.extension-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-header {
    border-bottom: 1px solid var(--theme-border-color);
    padding-bottom: 10px;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      display: flex;
      align-items: baseline;
      gap: 10px;
    }

    .version {
      font-size: 0.8em;
      opacity: 0.7;
    }
  }

  &-description {
    opacity: 0.9;
  }
}

.extension_container {
  border-radius: 5px;
  border: 1px solid var(--theme-border-color);
  background-color: var(--black-30a);
  padding: 10px;

  .inline-drawer-header {
    background-color: transparent;
  }

  .inline-drawer-content {
    background-color: var(--black-50a);
  }
}
