.formatting-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
  gap: 8px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
  }

  &-description {
    opacity: 0.8;
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px; // space for scrollbar
  }
}
