.nav-bar {
  width: var(--nav-bar-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 20px 0 var(--black-70a);
  backdrop-filter: blur(var(--blur-strength) px);
  background-color: var(--theme-background-tint);
  -webkit-backdrop-filter: blur(var(--blur-strength) px);
  z-index: 3005;
}

.nav-bar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--nav-bar-padding) 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-item {
  .menu-button-icon {
    font-size: var(--nav-bar-icon-size);
    padding: 4px 2px;
    opacity: 0.3;
    background-color: transparent;
    border: none;
    transition: all var(--animation-duration-2x);

    &:hover,
    &.active {
      opacity: 1;
      background-color: transparent;
    }
  }

  &-content {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 3004;
    background-color: var(--theme-background-tint);
    color: var(--theme-text-color);
    border-right: 1px solid var(--theme-border-color);
    box-shadow: 2px 0 20px 0 var(--black-70a);
    min-width: 450px;
    width: var(--panel-width);
    left: var(--nav-bar-width);
    right: 0;
    margin: 0 auto;

    select {
      width: 100%;
      font-size: calc(var(--font-size-main) * 0.95);
    }

    &.active {
      display: flex;
    }

    &.wide {
      width: var(--panel-width-wide);
    }

    &--from-left {
      left: var(--nav-bar-width);
      border-left: none;
    }

    &--from-right {
      right: 0;
      left: auto;
      border-right: none;
      border-left: 1px solid var(--theme-border-color);
    }
  }
}
