.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.9em;

  &-nav {
    white-space: nowrap;
  }

  &-pages {
    display: flex;
  }

  &-size-changer {
    min-width: 120px;
  }
}
