.popup {
  background-color: var(--theme-background-tint);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--base-border-radius-rounded);
  padding: 20px;
  min-width: 320px;
  width: 500px;
  box-shadow: 0 4px 16px var(--black-50a);
  overflow: hidden;

  max-width: calc(100dvw - 32px);
  min-height: fit-content;

  &::backdrop {
    background-color: var(--black-60a);
    backdrop-filter: blur(5px);
  }

  &.wide {
    min-width: var(--panel-width);
    max-width: 80vw;
  }

  &.large {
    .popup-body {
      max-width: 90dvw;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 4px;
    }

    .popup-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    // If using Textarea, usually the wrapper handles width, but we want it to fill available space
    .popup-input-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      textarea {
        flex-grow: 1;
        height: 100%;
      }
    }
  }
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  max-height: 95dvh;
}

.popup-content {
  flex-grow: 1;

  &.is-input {
    display: flex;
    flex-direction: column;
  }

  &.is-crop {
    display: flex;
    justify-content: center;
  }

  .crop-container {
    max-width: 100%;
    max-height: 70vh;
  }
}

.popup-controls {
  display: flex;
  align-self: center;
  gap: 8px;
  margin-top: 16px;
  flex-wrap: wrap;
  justify-content: center;

  .menu-button {
    min-width: 80px;
  }
}
