@use '../mixins' as *;

.preset-control {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  @include flex-container(row, flex-start, center);
  flex-wrap: wrap;

  &-selector {
    flex-grow: 1;

    :deep(.form-item) {
      margin-bottom: 0;
    }
  }

  &-actions {
    display: flex;
    gap: var(--spacing-xs);
  }
}
