.top-bar {
  width: var(--layout-panel-width);
  margin: 0 auto;
  left: 0;
  right: 0;
  display: inline-block;
  height: var(--top-bar-height);
  position: absolute;
  box-shadow: 0 2px 20px 0 var(--black-70a);
  backdrop-filter: blur(var(--blur-strength)px);
  background-color: var(--theme-background-tint);
  -webkit-backdrop-filter: blur(var(--blur-strength)px);
  z-index: 3005;
}

.top-bar__nav {
  display: flex;
  position: relative;
  width: var(--layout-panel-width);
  height: var(--top-bar-height);
  margin: 0 auto;
  justify-content: center;
  z-index: 3005;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  width: 100%;

  &__toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--theme-text-color);
  }

  &__icon {
    display: inline-block;
    font-size: var(--top-bar-icon-size);
    padding: 1px 3px;
    opacity: 0.3;
    transition: all var(--animation-duration-2x);

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }

  &__content {
    display: none;
    background-color: var(--theme-background-tint);
    color: var(--theme-text-color);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--theme-border-color);
    transition-property: height, display;
    transition-duration: var(--animation-duration-2x);
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;

    select {
      width: 100%;
      font-size: calc(var(--font-size-main) * 0.95);
    }

    &.active {
      display: flex;
    }
  }
}

.drawer-pane--fill-right,
.drawer-pane--fill-left {
  min-width: 100px !important;
  min-height: 100px !important;
  position: fixed;
}

.drawer-pane--fill-left,
.drawer-pane--fill-right {
  width: calc((100vw - var(--layout-panel-width) - 2px) / 2);
  width: calc((100dvw - var(--layout-panel-width) - 2px) / 2);
  max-height: calc(100vh - var(--top-bar-height));
  max-height: calc(100dvh - var(--top-bar-height));
  height: 0;
  position: fixed;
  top: 0;
  margin: 0;
  box-shadow: none;
  overflow: hidden;
  flex-flow: column;
  min-width: 100px;
}

.drawer-pane--fill-left {
  left: 0;
  right: auto;
}

.drawer-pane--fill-right {
  right: 0;
  z-index: 3000;
}

.drawer-pane--fill-left.active,
.drawer-pane--fill-right.active {
  height: 100%;

  @starting-style {
    height: 0;
  }
}