.user-settings-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;

  &-header {
    margin-bottom: 10px;
    h3 {
      margin: 0;
    }
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-no-results {
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
  }

  &-category {
    margin-bottom: 5px;
  }

  .user-settings-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
