.world-info-global-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3,
h4 {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid var(--theme-border-color);
  width: 100%;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wi-settings-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.wi-settings-grid-sliders {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wi-settings-grid-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

select[multiple] {
  min-height: 120px;
}
