.world-entry {
  border: 1px solid var(--theme-border-color);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  transition:
    opacity var(--animation-duration-3x),
    filter var(--animation-duration-3x);

  &.is-disabled {
    opacity: 0.5;
    filter: grayscale(0.8);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  .inline-drawer-header {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0; // Override default padding
  }

  &__header-controls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    .inline-drawer-icon {
      cursor: pointer;
    }

    .fa-toggle-on,
    .fa-toggle-off {
      cursor: pointer;
      font-size: 1.2em;
    }
    .fa-toggle-on {
      color: var(--theme-quote-color);
    }

    .text-pole {
      margin: 0;
      flex-grow: 1;
    }

    .header-fields {
      display: flex;
      gap: 5px;

      .text-pole {
        width: 5em;
        text-align: center;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .flex-1 {
      flex: 1;
    }

    small {
      text-align: center;
      opacity: 0.8;
      font-weight: bold;
      width: 100%;
    }

    .control-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 120px;
      gap: 2px;
    }
  }

  &__checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
    .checkbox-label {
      font-size: 0.9em;
    }
  }

  .additional-sources {
    width: 100%;
    .inline-drawer-header {
      padding: 5px;
    }
    .inline-drawer-content {
      padding: 5px 10px;
    }
  }

  .fa-circle-info {
    opacity: 0.5;
    cursor: help;
  }

  .unit {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    pointer-events: none;
    font-size: 0.9em;
  }
  .input-with-unit {
    position: relative;
    input {
      padding-right: 2.5em;
    }
  }
}
