.world-info-drawer {
  .panel-divider {
    border: none;
    border-top: 1px solid var(--theme-border-color);
    margin: 5px 0;
  }

  .browser-item-chevron {
    transition: transform var(--animation-duration-2x);
    opacity: 0.7;
  }

  .browser-item-chevron.is-open {
    transform: rotate(90deg);
  }

  .browser-item-actions {
    display: flex;
    gap: 2px;
    opacity: 0;
    transition: opacity var(--animation-duration-2x);

    // Overwrite icon button sizing for this compact list
    .menu-button-icon {
      padding: 3px;
      font-size: 1em;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        color: var(--color-warning);
      }
    }
  }

  .app-list-item:hover .browser-item-actions {
    opacity: 1;
  }

  .lorebook-group-entries {
    padding-left: 10px;
    border-left: 1px solid var(--black-50a);
    margin-left: 12px;
    display: grid;
    margin-top: 2px;
  }

  .lorebook-group-loading {
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    font-size: 0.9em;
  }

  .world-info-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-row {
      display: flex;
      gap: 5px;
      align-items: flex-start;
    }
  }
}
