.zoomed-avatar {
  // Using calc variables as in the original for dynamic sizing
  --max-width: calc(90vh * 0.666);
  --left-gap-width: calc((100vw - var(--panel-width)) / 2);
  --left-position: max(0px, calc((var(--left-gap-width) - var(--max-width)) / 2));

  padding: 0;
  border: 0;
  background-color: transparent;
  max-width: var(--max-width);
  left: var(--left-position);
  position: absolute;
  top: 5vh; // A reasonable default starting position
  height: auto;
  max-height: 90vh;
  display: flex;
  align-items: flex-start;
  z-index: 5000;

  .panel-control-bar {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1; // Above the image
    min-width: 55px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    transition: all var(--animation-duration-2x);

    .drag-grabber {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }

    .drag-close {
      cursor: pointer;
      height: 15px;
      aspect-ratio: 1 / 1;
      font-size: calc(var(--font-size-main) * 1.3);
      opacity: 0.5;
      transition: all var(--animation-duration-2x);
      filter: drop-shadow(0 0 2px var(--black-100));
      text-shadow: none;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-container {
    width: 100%;
    max-height: 90vh;
    max-width: 90dvh;
  }

  &-img {
    height: unset !important;
    width: 100%;
    object-fit: contain !important;
    border-radius: 10px;
    -webkit-user-drag: none;
    user-select: none;
  }
}
