:root {
  --toast-transition-duration: 250ms;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  width: 320px;
  max-width: calc(100% - 32px);

  &.toast-top-center {
    top: calc(var(--nav-bar-height, 56px) + 16px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.toast {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  margin: 0 0 4px;
  padding: 12px 12px 12px 26px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity var(--toast-transition-duration) ease-in-out,
    transform var(--toast-transition-duration) ease-in-out;
  text-shadow: none;
  font-size: calc(var(--font-size-main) * 0.95);

  &.show {
    opacity: 0.95;
    transform: translateY(0);
  }
}

button.toast-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 4px 0 0;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.toast-success {
  background-color: #5d9e5d;
}

.toast-error {
  background-color: #a83c36;
}

.toast-info {
  background-color: #4092aa;
}

.toast-warning {
  background-color: #e29325;
}
