#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  width: 300px;
  max-width: 100%;

  &.toast-top-center {
    top: var(--side-bar-height);
    left: 50%;
    transform: translateX(-50%);
  }
}

.toast {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 20px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 12px #000;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
  text-shadow: none;
  font-size: calc(var(--font-size-main) * 0.95);

  &.show {
    opacity: 0.9;
    transform: translateY(0);
  }
}

button.toast-close-button {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px 0 0;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.toast-success {
  background-color: #5d9e5d;
}

.toast-error {
  background-color: #a83c36;
}

.toast-info {
  background-color: #4092aa;
}

.toast-warning {
  background-color: #e29325;
}
