/*
  Utility-first helper classes.
  The 'u-' prefix makes it clear these are global, single-purpose utilities.
*/
.u-flex {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-col {
  flex-direction: column;
}

.u-items-start {
  align-items: flex-start;
}

.u-items-center {
  align-items: center;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-w-full {
  width: 100%;
}

.u-justify-evenly {
  justify-content: space-evenly;
}